.bg-main {
    background-color: var(--main-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-light {
    background-color: var(--light-color);
}

h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 50px;
    text-align: left;
    position: relative;
}
    h2::before {
        display: inline-block;
        content: '';
        width: 100px;
        height: 2px;
        background-color: var(--secondary-color);
        position: absolute;
        bottom: -10px;
        left: 0;
    }
    h2::after {
        display: inline-block;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        position: absolute;
        bottom: -15px;
        left: 0;
    }
    h2.center {
        text-align: center;
    }
        h2.center::before {
            left: calc(50% - 50px);
        }
        h2.center::after {
            left: calc(50% - 6px);
        }
    h2.no-line::before,
    h2.no-line::after {
        display: none;
    }
    h2.white {
        color: #fff;
    }
        h2.white::before,
        h2.white::after {
            background-color: #fff;
        }